.menu {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 1.5rem;
  right: 50%;
  transform: translateX(50%);
}

.options {
  display: flex;
  background: #6d1118;
  box-shadow: -0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0 0.625rem 0.625rem 0;
  padding-right: 0.4rem;
  margin-left: -0.0125rem;
  max-width: fit-content;
  max-height: 4rem;
}

.subMenu {
  display: flex;
  position: absolute;
  top: 4.5rem;
  right: 50%;
  transform: translateX(50%);
}

.subOptions {
  display: flex;
  background: #6d1118;
  box-shadow: -0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  padding-right: 0.4rem;
  margin-left: -0.0125rem;
  max-width: fit-content;
}

.logoutBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6rem;
}

@media (max-width: 840px) {
  .menu {
    width: 34rem;
  }

  .options {
    flex-wrap: wrap;
    border-radius: 0.625rem;
    padding: 0.5rem;
    row-gap: 0.4rem;
  }

  .logoutBox {
    position: fixed;
    top: 1.4rem;
    right: 0.5rem;
  }

  .subMenu {
    right: unset;
    transform: unset;
    right: 50%;
    transform: translateX(50%);
    top: 6rem;
    width: 25rem;
  }

  .subOptions {
    flex-wrap: wrap;
    justify-content: center;
  }
}
