.optionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.option {
  cursor: pointer;
  font-family: "Carter One";
  font-style: normal;
  font-size: 1.2rem;
  color: #f3f3f3;
  text-shadow: 0.08rem 0.08rem #000, -0.08rem -0.08rem #000,
    0.08rem -0.08rem #000, -0.08rem 0.08rem #000;
  transition: 0.1s ease-in-out;
  min-width: max-content;
}

.option:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #d2a647;
  text-shadow: 0 0 #000;
}

.selected {
  cursor: pointer;
  font-family: "Carter One";
  font-style: normal;
  font-size: 1.32rem;
  color: #d2a647;
  text-shadow: 0 0 #000;
  min-width: max-content;
}