.subOptionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.4rem;
  min-width: 1rem;
}

.subOption {
  font-family: "Carter One";
  font-style: normal;
  font-size: 1rem;
  color: white;
  text-shadow: 0.08rem 0.08rem #000, -0.08rem -0.08rem #000,
    0.08rem -0.08rem #000, -0.08rem 0.08rem #000;
  transition: 0.1s ease-in-out;
  margin-left: 15px;
  margin-right: 15px;
}

.subOption:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #d2a647;
  text-shadow: 0 0 #000;
}

.selected {
  cursor: pointer;
  font-family: "Carter One";
  font-style: normal;
  font-size: 1rem;
  transform: scale(1.1);
  color: #d2a647;
  margin-left: 15px;
  margin-right: 15px;
}
