.mainContainer {
  position: absolute;
  top: 25%;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  background: #000000bb;
  box-shadow: -0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  max-width: 88%;
  display: grid;
  width: max-content;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1.6rem transparent solid;
  border-top: 2rem transparent solid;
  border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  row-gap: 0.5rem;
  align-content: center;
}

.short {
  bottom: auto;
}

.big {
  min-width: 80%;
}

.containerTitle {
  position: absolute;
  background: #6d1119;
  border-radius: 0.625rem;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0.4rem;
  width: 12rem;
  font-family: "Carter One";
  font-style: normal;
  font-size: 1.4rem;
  color: #d2a647;
  text-shadow: -0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.25);
  box-shadow: -0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.space {
  top: 25%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.searchInput {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.5rem;
  width: 95vw;
}

.filter {
  margin-right: 0.5rem;
}

@media (max-height: 500px) {
  .containerTitle {
    display: none;
  }
}

@media (max-width: 800px) {
  .mainContainer,
  .searchInput {
    top: 30%;
  }
}
@media (height <= 410px) and (width <= 800px) {
  .mainContainer,
  .searchInput {
    top: 31%;
  }
}

@media (height <= 380px) and (width <= 800px) {
  .mainContainer,
  .searchInput {
    top: 33%;
  }
}
@media (height <= 330px) and (width <= 800px) {
  .mainContainer,
  .searchInput {
    top: 35%;
  }
}
@media (height <= 310px) and (width <= 800px) {
  .mainContainer,
  .searchInput {
    top: 39%;
  }
}
@media (height <= 350px) and (width > 800px) {
  .mainContainer,
  .searchInput {
    top: 31%;
  }
}
