.subContainer {
  background: #d6d6d6;
  border-radius: 0.625rem;
  padding: 0.5rem;
  height: min-content;
  width: calc(100% - 1.5rem);
  padding-bottom: 1rem;
}

.subTitle {
  font-family: "Carter One";
  font-style: normal;
  font-size: 1.1rem;
  color: #6d1118;
  text-shadow: -0.15rem 0.15rem 0.15rem rgb(0 0 0 / 25%);
  padding-left: 1rem;
  border-radius: 0.625rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.button {
  text-align: center;
  transform: scale(0.7) translate(0, -0.6rem);
}