.cardContainer {
  background: #d6d6d6;
  border-radius: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.3rem;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  height: max-content;
  /* width: min-content; */
}

.main {
  display: flex;
}

.label {
  display: flex;
  min-width: 2.7rem;
  font-family: "Carter One";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  align-items: center;
  color: #414141;
  margin-bottom: -0.4rem;
  padding-left: 0.3rem;
  text-shadow: -0.15rem 0.15rem 0.15rem rgb(0 0 0 / 25%);
  margin: 0;
}

.inputBox {
  display: flex;
  align-items: center;
  /* margin: 0 0 0.625rem 0; */
}

.error {
  /* margin-top: -0.5rem; */
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  color: #6d1118;
  text-decoration: none;
}
