.subject {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 4fr 6fr 6fr 1.5fr 1.5fr 1.5fr 1.5fr;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Open Sans";
  font-size: 0.9rem;
  color: #414141;
  font-weight: 900;
  cursor: default;
  column-gap: 1rem;
  text-align: center;
  align-items: center;
}

.quimester {
  padding-bottom: 0.4rem;
}

.subquimester {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
  column-gap: 0.5rem;
}

.name {
  overflow: hidden;
  padding-right: 0.2rem;
}

.aproved {
  font-size: 0.7rem;
  color: green;
}

.failed {
  font-size: 0.7rem;
  color: #6d1118;
}