.data {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.5fr 1fr 1fr;
  height: fit-content;
  padding-left: 1rem;
  font-family: "Open Sans";
  font-size: 0.9rem;
  color: #414141;
  font-weight: 900;
  width: fit-content;
  text-align: center;
  cursor: default;
}

.data div {
  align-self: center;
}

.active {
  color: green;
}

.inactive {
  color: red;
}
