.course {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 6fr 1fr 6fr 1fr 1.5fr;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Open Sans";
  font-size: 0.9rem;
  color: #414141;
  font-weight: 900;
  cursor: default;
}

.subject div {
  align-self: center;
  padding-right: 0.2rem;
}
