.teacher {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1.5fr 1fr 1fr;
  height: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Open Sans";
  font-size: 0.9rem;
  color: #414141;
  font-weight: 900;
  cursor: default;
}

.name {
  overflow: hidden;
}

.teacher div {
  align-self: center;
}