.cardContainer {
  width: 19rem;
  background: #d6d6d6;
  border-radius: 0.625rem;
  margin-top: 0.625rem;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  height: max-content;
}

.main {
  display: flex;
}

.label {
  display: flex;
  min-width: 6rem;
  font-family: "Carter One";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  align-items: center;
  color: #000000bb;
  margin-bottom: -0.4rem;
  padding-left: 0.3rem;
  text-shadow: -0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.25);
}

.inputBox {
  display: flex;
  align-items: center;
}

/* .error {
  display: flex;
  align-items: center;
  align-self: center;
  color: red;
} */

.error {
  margin-top: -0.5rem;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  color: #6d1118;
  text-decoration: none;
}