.inputDate {
  margin-top: 0.38rem !important;
  outline: 0;
  width: 93% !important;
  cursor: pointer;
}

.datePicker {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  max-height: 2rem;
  color: #b47378;
  cursor: pointer;
}

.datePicker:hover {
  color: #a01b25;
}

.navigationArrows {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  cursor: pointer;
  color: #d6d6d6;
  transition: 0.2s transform;
}

.navigationArrows:hover {
  color: #000000;
}

.navigationArrows ~ select {
  background: #c1adaf;
  border-radius: 0.3rem;
  border: 0;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 900;
  outline: 0;
}

.navigationArrows ~ select option {
  color: #2d2d2d;
  background: #c1adaf;
  font-size: 0.9rem;
  font-family: "Open Sans";
  font-weight: 900;
}
