.imageInput {
  width: 100%;
}

.imageBox {
  display: flex;
  justify-content: center;
  background: #6d1118;
  border-radius: 0.625rem;
  box-shadow: -0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2d2d2d;
  border-radius: 0.625rem;
  width: 100%;
  height: fit-content;
  max-height: 16rem;
  overflow-y: hidden;
  margin: 0.625rem;
}

.image img {
  max-width: 100%;
}

.imageInput input[type="file"] {
  display: none;
}

.imageInput label {
  min-height: 2rem;
  padding-top: 0.5rem;
  display: block;
  background-color: transparent;
  padding-left: 1rem;
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 0.8rem;
  color: #414141;
  font-weight: 900;
  cursor: pointer;
}
