.mainContainer {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%);
  /* background: #6c6c6cee; */
  background: #000000bb;
  /* background: #6d1119; */
  box-shadow: -0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  padding: 1.2rem;
  display: flex;
  align-items: baseline;
  /* max-width: 88%; */
  /* overflow: hidden; */
}

.subContainer {
  flex-grow: 1;
  display: grid;
  /* grid-template-columns: repeat(4, max-content); */
  grid-template-rows: repeat(4, max-content);
  grid-auto-flow: column;
  background-color: #d6d6d6;
  border-radius: 0.625rem;
  /* auto-fit, minmax(19rem, max-content) */
}

.containerOptions {
  position: absolute;
  background: #6d1119;
  border-radius: 0.625rem;
  right: 1rem;
  top: -1.25rem;
  filter: drop-shadow(-0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
  min-width: 10rem;
  min-height: 2.5rem;
}
