html {
  font-size: 100%;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  background: #d6d6d6;
}

.bodyWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text {
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 100%;
  font-family: "Open Sans";
  font-size: 0.9rem;
  color: #414141;
  font-weight: 900;
}

.error {
  margin-top: 0.5rem;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  color: #6d1118;
  text-decoration: none;
}

.minimunReached {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #414141;
}

@media (min-width: 1920px), (min-height: 1080px) {
  html {
    font-size: 125%;
  }
}

@media (max-width: 1024px), (max-height: 840px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 800px), (max-height: 650px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 680px), (max-height: 550px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 640px), (max-height: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 300px), (max-height: 280px) {
  .minimunReached {
    display: block;
  }
}
